*
!images
!images/favicon-32x32.png
!images/icon-moon.svg
!images/icon-sun.svg
!images/logo-console-plus.svg
!images/logo-devlens.svg
!images/logo-dom-snapshot.svg
!images/logo-grid-guides.svg
!images/logo-json-wizard.svg
!images/logo-link-checker.svg
!images/logo-markup-notes.svg
!images/logo-palette-picker.svg
!images/logo-speed-boost.svg
!images/logo-style-spy.svg
!images/logo-tab-master-pro.svg
!images/logo-viewport-buddy.svg
!images/logo.svg
!.gitignore
